.sign-in{
    width: 100%;
    display: flex;
    flex-direction: column;

    .buttons{
        margin: 0px;

        .custom-button{
            margin: 0px 0px 10px;
        }
    }
}

@media only screen and (min-width: 768px){
    .sign-in{
        width: calc(100% / 2 - 20px);
    }
}

@media only screen and (min-width: 1366px){
    .sign-in{
        margin-top: 0px;
        width: calc(100% / 2 - 50px);

        .buttons{
            display: flex;

            .custom-button{
                margin: 0px 20px 0px 0px;
            }
        }
    }
}